.bg-black {
  background:black !important;
}

.border-solid {
  border:solid;
}

.padding-vertical-less {
  padding-top:5px;
  padding-bottom:5px;
}

.padding-horizontal-less {
  padding-left:5px;
  padding-right:5px;
}


.container {
  margin-top:80px;
}

.container-card {
  margin-top:15px;
  margin-bottom:15px;
  margin-left:10px;
  margin-right:10px;
}

.bg-header {
  background: rgba(243,156,18,0.7)
}

.table-no-bottom {
  margin-bottom:0px;
}

body {
  background:black;
}
